/*All views*/

body
{
	color: #FFF;
	background-color: #333;
	position: relative;
	min-height: 100vh;
	padding-bottom: 120px;
	font-size: 18px;
}

h2, h3
{
	text-align: center;
	font-weight: bold;
}

a, a:hover
{
	text-decoration: none;
}

header
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #222;
	height: 120px;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
}

header a
{
	color: #FFF;
	margin: 0 10px 0 10px;
}

header a:hover
{
	color: #CCC;
}

footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #999;
}

footer a
{
	margin-right: 10px;
}

.entirePost
{
	text-align: justify;
	width: 85%;
	margin: 0 auto;
	background-color: #FFF;
	color: #333;
	padding: 2%;
	border-radius: 15px;
}

/*Frontend*/

/*ListPost*/

#listPosts
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.post
{
	text-align: justify;
	background-color: white;
	color: #333;
	width: 65%;
	border-radius: 15px;
	padding: 5px;
	margin: 10px;
}

.paging
{
	display: flex;
	justify-content: center;
	position: relative;
}

.paging a
{
	margin: 0 10px 0 10px;
}

/*PostView*/

.dateAndReturnLink
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

form div input, form div textarea
{
	width: 100%;
}

.comment
{
	text-align: justify;
	background-color: #FFF;
	color: #333;
	border-radius: 15px;
	border: 1px solid #888;
	margin: 10px 0 10px 0;
	padding: 5px;
}

/*Backend*/

/*Header*/

#navigationBackendLink
{
	display: flex;
	justify-content: center;
	font-size: 22px;
}

table
{
	border-collapse: collapse;
	width: 100%;
	color: white;
}

td, th
{
	border: 1px solid white;
	text-align: center;
	padding: 10px;
}

tr:nth-child(even)
{
	background-color: #EEE;
	color: #333;
}

tr:nth-child(odd)
{
	background-color: #333;
}

hr
{
	background-color: #5cadd3;
	height: 3px;
}

/*AddPostView*/

#titleNewPost
{
	width: 100%;
}

/*Media Queries*/

@media screen and (orientation: portrait) and (max-width: 576px)
{
	#backendHeader
	{
		height: 100%;
	}

	#navigationBackendLink
	{
		flex-direction: column;
		padding-bottom: 10px;
	}
	.tableHeader
	{
		display: none;
	}

	td
	{
		display: block;
	}

	tr td:nth-child(1)
	{
		background-color: #5cadd3;
	}
}