/*All views*/
body
{
	color: #333;
	position: relative;
	min-height: 100vh;
	padding-bottom: 120px;
}

h1 a, h1 a:hover
{
	color: #333;
	font-weight: bold;
	margin-left: 10px;
}

h2, h3
{
	text-align: center;
	font-weight: bold;
}

header
{
	height: 100%;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
}


#backendHeader
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

#navigationBackendLink
{
	display: flex;
	justify-content: space-around;
}

footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #999;
}

footer a
{
	margin-right: 10px;
}

a, a:hover
{
	text-decoration: none;
}


.paging
{
	display: flex;
	justify-content: center;
	position: relative;
}

.paging a
{
	margin: 0 10px 0 10px;
}
/*postView*/

.post p
{
	text-align: justify;
}

.dateAndReturnLink
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.comment
{
	border: 1px solid #888;
	margin: 10px 0 10px 0;
	padding: 5px;
}

form div input, form div textarea
{
	width: 100%;
}

/*adminView*/

#titleNewPost
{
	width: 100%;
}

table
{
	border-collapse: collapse;
	width: 100%;
	color: white;
}

td, th
{
	border: 1px solid white;
	text-align: center;
	padding: 10px;
}

tr:nth-child(even)
{
	background-color: #EEE;
	color: #333;
}

tr:nth-child(odd)
{
	background-color: #333;
}

@media screen and (orientation: portrait) and (max-width: 576px)
{
	.tableHeader
	{
		display: none;
	}

	td
	{
		display: block;
	}

	tr td:nth-child(1)
	{
		background-color: #5cadd3;
	}
}